#outer{
    height:1000px;
    width:1000px;
    background-color:wheat;
}
#nav{
    height:50px;
    width:998px;
    background-color: rgb(32, 42, 178);
}
#left{
    height:500px;
    width:700px;
    background-color:lightskyblue;
    float:left;
}
#right{
    height:500px;
    width:300px;
    background-color:yellow ;
    float:right;
}
#footer{
    height:250px;
    width:1000px;
    background-color: black;
}
#main{
    height:500px;
    width: 1000px;
}