/* universal */
*{
    font-family: 'Courier New', Courier, monospace;
}
/* selector */
h1,h3{
    color:#b92b27;
}
/*element id  */
#login{
    background-color: antiquewhite;
}
#signup{
    background-color: #ab615e;
    color:white;
}

/* calss */
.upvote{
    background-color: green;
    color:aquamarine
}

/* decendent selector */
nav a{
    color:hotpink;
}


/* adjacent sibling */
p+h3{
    text-decoration:burlywood;
}

/* child combinateor */
div>input{
 background-color: rgb(186, 94, 112);
}

/* attribut selector */
input[type ="text"]{
    color : red;
}

input[type = "password"]{
    color:green;
}

input[type]{
    background-color: antiquewhite;
}

#myid p{
    color:green;
}
div[id = "myid"] p{
    color:antiquewhite;
}
/* pseudocalass */
button:hover{
    background-color: black;
    color:aliceblue
}
h3:hover{
    text-decoration: overline;
}
button:active{
    background-color: palevioletred;
    color: black;
}
p:active{
    font-weight: 400;
    color:green;
}

input[type = "radio"]:chechked{
    color:red;
}

div:nth-of-type(2n){
    background-color: blanchedalmond;
}

/* pseudo element */
h1::first-letter{
    color: aqua;
}
p::first-line{
    color:blue;
}
p::selection{
    background-color: yellowgreen;
}

